<form class="d-flex" action="/news" method="POST">
    <label>Email</label>
    <input class="form-control me-2" name="email" placeholder="Email" aria-label="Search">
    <label>Address</label>
     <input name="address" class="form-control me-2" placeholder="Password" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>